In [12]:
answer = input("한국의 수도는?")
if answer == "서울" :
    print("정답", "축하합니다")

한국의 수도는? ㅁ

In [22]:
if dir == "동" :
    print("강릉")
elif dir == "서" :
    print("인천")
elif dir == "남" :
    print("과천")
elif dir == "북" :
    print("고양")
else :
    print("err")

err

In [23]:
n = int(input())
if n % 5 == 0 :
    print(True)
else :
    print(False)

 20

True

In [ ]:
seoul
maeil
l =

In [2]:
trisum = 0
i = 1
while i <= 200 :
    if i % 3 == 0 :
        trisum += i
    i += 1
print(trisum)

6633

In [25]:
for n in range(1,11) :
    if n % 3 == 0 :
        continue
    print(n)

1
2
4
5
7
8
10

In [26]:
def avg(*int) :
    return sum(int) / len(int)

avg(50,22,10)

27.333333333333332

In [1]:
def max_int(*int) :
    return max(int)

max_int(3,20,89,19,111,2)


def a(*args, x) :
    print(args)
    print(x)
a(1,2,3,4,5, x=20)

def b(x, *args) :
    print(x)
    print(args)
b(1,2,3,4,5)

'\ndef a(*args, x) :\n    print(args)\n    print(x)\na(1,2,3,4,5, x=20)\n\ndef b(x, *args) :\n    print(x)\n    print(args)\nb(1,2,3,4,5)'

In [2]:
def a(x, y) :
    print(x)
    print(y)
a(2, 3)

def b(x=1, y=2) :
    print(x)
    print(y)
b(1,2)

2
3
1
2

In [ ]:
def calcstep(begin, end, step) :
    pass


def p() :
    end = 11
    for i in range(1, end) :
        print(i)

In [ ]:
for i in range(0,11) :
    print(f"{ " " * (10 - i) + "*" * i}")

for i in range(0,11) :
    print(" " * (10 - i), end = "")
    for j in range(i) :
        print("*", sep = "", end = "")
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [21]:
for i in range(1,10) :
    print(" " * (20 - i), end = "")
    for j in range(2 * i - 1) :
        print("*", sep = "", end = "")
    print()

                   *
                  ***
                 *****
                *******
               *********
              ***********
             *************
            ***************
           *****************

17