In [3]:
#반복문
#1.while문
# 조건이 거짓이 될 때 까지 반복하는 코드

# while True :
#     print("hi")

i = 1
while True :
    print(i)
    i += 1
    if i == 10 :
        break;

1
2
3
4
5
6
7
8
9

In [3]:
#while문을 이용해서 1 ~ 10까지 정수 출력
i = 1
j = 0
while i < 11 :
    j += i
    i += 1
print(j)
i = 2

print("-" * 20)

while i < 10 :
    j = 1
    while j < 10 :
        #print( str(i) + "X" + str(j) + "=" + str(i*j))
        print( f"{i} X {j} = {i*j}" )
        j += 1
    i += 1
    print("-" * 20)

55
--------------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
--------------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
--------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
--------------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
--------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
--------------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
--------------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
--------------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
--------------------

In [26]:
#2 for문
#range
print(range(1, 10))

for i in range(1, 11) :
    print(i)

#파이썬의 range는 range(시작숫자, 종료숫자, 스텝)으로 범위를 생성한다.
#range(1, 10)은 1 ~ 9까지 1씩 증가하는 정수의 범위를 생성
for i in range(1, 11, 2) :
    print(i)

range(1, 10)
1
2
3
4
5
6
7
8
9
10
1
3
5
7
9

In [31]:
#for문을 이용하여 2 ~ 8 까지의 정수를 출력하는 코드 작성

for i in range(2, 9) :
    print(i)

#for문을 이용하여 1 ~ 10 까지 정수의 합계를 출력하는 코드 작성

j = 0
for i in range(1, 11) :
    j += i
print(j)

j = 0
for i in range(1, 11) :
    if i % 2 != 0 :
        continue
    j += i
print(j)

2
3
4
5
6
7
8
55
30

In [2]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in a :
    print(i)
sum(a)
2

1
2
3
4
5
6
7
8
9
10

2